<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="#">

</head>

<body>
    <label for="fname">First name:</label>
    <input type="text" id="fname">
    <br>
    <br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname">
    <br>
    <br>
    <label for="Gender">Gender</label>
    <br>
    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Male</label>
    <br>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label>
    <br>
    <input type="radio" id="other" name="gender" value="other">
    <label for="other">Other</label>
    <br>
    <br>
    <label for="skills">Skills</label>
    <br>
    <input type="checkbox" id="C#" name="C#" value="C#">
    <label for="vehicle1"> C#</label>
    <br>
    <input type="checkbox" id="MVC" name="MVC" value="MVC">
    <label for="vehicle2"> MVC</label>
    <br>
    <input type="checkbox" id="JS" name="JS" value="Boat">
    <label for="JS"> JS</label>
    <br>
    <br>
    <label for="salary">Salary:</label>
    <input type="text" id="Salary" name="empSalary">
    <br>
    <br>
    <label for="salary">Department:</label>
    <select name="Departments" id="Departments">
        <option value="1">Csharp</option>
        <option value="2">Andriod</option>
        <option value="3">Java</option>
        <option value="4">Python</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Submit" onclick="main()">


    <script src="~/Scripts/datacollector.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>


